* {
  font-family: 'Microsoft JhengHei', sans-serif;
}

html,
body {
  overflow: hidden;
  margin: 0;
  padding: 2rem;
  background-color: #282a36;
  color: #efefef;
}

#app {
  text-align: center;
  input {
    padding: 2px 4px;
    font-size: 1rem;
  }
  button {
    width: 120px;
    height: 36px;
    padding: 2px 4px;
    margin: 2px 4px;
    border: 0;
    background-color: #687ECA;
    color: #eee;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    &:hover {
      background-color: #5F73B9;
    }
  }
  a {
    color: aqua;
    &:hover {
      opacity: .8;
    }
  }
  .skill {
    display: flex;
    justify-content: center;
  }
}